<div class="row my-5 mx-5">
    <div class="col-md-12">
        <div class="btn-group d-flex" role="group">
            <button id="btn1" type="button" (click)="navigateVids()" class="btn btn-secondary w-100">Videos</button>
            <button id='btn2' type="button" (click)="navigateCusts()" class="btn btn-success w-100">Customers</button>
        </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-3"></div> 
    <div class="col-md-6">
      <div class="input-group">
        <input class="form-control border-right-0 border" placeholder="Search by First Name" (keyup)="filteredVideos($event)" type="search" id="example-search-input">
        <span class="input-group-append">
          <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
        </span>
      </div>
    </div>

    <div class="col-md-2">
        <button [routerLink]="['/addcustomer']" class="btn btn-success float-right mx-5">Add Customer</button>
      </div>
      <div class="col-md-1"></div>

  </div>
  
  
  <div class="row mx-5 my-5">
    <div class="col-md-12 ">
        <table class="table text-center">
            <thead class="thead-light">
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let customer of customers2; let i=index">
              <tr>
                <td>{{ customer.firstName}}</td>
                <td>{{ customer.lastName}}</td>
                <td>{{ customer.address}}</td>
                <td>{{ customer.city}}</td>
                <td>{{ customer.phone}}</td>
                <td>{{ customer.status}}</td>
                <td><button [routerLink]="['/updatecustomer/'+i]" class="btn btn-primary">Update</button></td>
                <td><button (click)="deletecustomer(i,customer._id)" class="btn btn-danger">Delete</button></td>

              </tr>
      
            </tbody>
          </table>
    </div>
  
  
  </div>

  <div class="row" class="my-5">
    <div class="col-md-12"></div>
  </div>