<div class="row my-3">

  <div class="col-md-2"></div>
  <div class="col-md-8" id="addVidSection">
      <div class="row py-2 head">
          <div class="col-md-12 text-center">
              <h2 class="text-center my-2">Add Video</h2>
          </div>
        </div>
    <div class="row">
      <div class="col-md-12 text-center text-danger">
          <p class="text-danger text-center" *ngIf="emptyField"><b > Field cannot be empty </b></p>

        <span *ngIf="!title.valid && title.touched"> Title is required </span>
        <span *ngIf="!runtime.valid && runtime.touched">and Run time is required </span>
        <span *ngIf="!dir.valid && dir.touched">and Director is required</span>
      </div>
    </div>

    <div class="row p-5">
      <div class="col-md-2 text-center">
        <img [src]="defImgUrl" class="mb-3" style="height:100px; width:100px;">
        <label class="btn btn-primary" for="my-file-selector">
          <input id="my-file-selector" type="file" (change)="onFileSelect($event)" style="display:none;">
          Browse
        </label>
      </div>

      <div class="col-md-10 ">
        <form (ngSubmit)="addvideo(vf,genre,stars,stat);addPhoto()" #vf="ngForm">
          <div class="form-group row">
            <label for="title" class="col-sm-4 col-form-label">Title</label>
            <div class="col-sm-8">
              <input name="title" type="text" class="form-control" id="title" ngModel required #title="ngModel">
            </div>

          </div>
          <div class="form-group row">
            <label for="title" class="col-sm-4 col-form-label">Running Time</label>
            <div class="col-sm-8">
              <input name="runtime" type="text" class="form-control" id="title" ngModel required #runtime="ngModel">
            </div>
          </div>
          <div class="form-group row">
            <label for="genreSelect" class="col-sm-4 col-form-label">Genre</label>
            <div class="col-sm-8">
              <select #genre class="form-control" id="genreSelect">
                <option *ngFor="let i=index of category">{{category[i]}}</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="starselect" class="col-sm-4 col-form-label">Rating</label>
            <div class="col-sm-8">
              <select #stars class="form-control" id="starselect">
                <option *ngFor="let i=index of starsRating">{{starsRating[i]}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="director" class="col-sm-4 col-form-label">Director</label>
            <div class="col-sm-8">
              <input name="director" type="text" class="form-control" id="director" ngModel required #dir="ngModel">

            </div>
          </div>
          <div class="form-group row">
            <label for="availSelect" class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
              <select class="form-control" id="availSelect" #stat>
                <option>Available</option>
                <option>Unavailable</option>

              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary px-4 float-right">Add video</button>
        </form>

        <button [routerLink]="['/videolist']" class="btn btn-primary mr-3 float-right px-5">Back</button>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row my-5">
    <div class="col-md-12"></div>
  </div>
  