<!-- row1 start -->
<div class="row mt-5 reservesection">
  <div class="col-md-12 text-center p-2">
    <h2>Reserve Your Video</h2>
  </div>
</div>
<!-- row1 end -->

<!-- row2 start -->
<div class="row mt-1 reservesection" >
  <div class="col-md-2 text-center">
    <img [src]="imgpath+fileName" class="mb-3" style="height:100px; width:100px;">

  </div>

  <div class="col-md-9">
    <div class="row my-2">
      <div class="col-md-4 col-sm-6">Title : </div>
      <div class="col-md-8 col-sm-6"> {{videotobeReserved.title}}</div>
    </div>
    <div class="row mb-2">
      <div class="col-md-4">Running Time: </div>
      <div class="col-md-8">{{videotobeReserved.runtime}}</div>
    </div>
    <div class="row mb-2">
      <div class="col-md-4">Genre: </div>
      <div class="col-md-8">{{videotobeReserved.genre}}</div>
    </div>
    <div class="row mb-2">
      <div class="col-md-4">Rating: </div>
      <div class="col-md-8">{{videotobeReserved.rating}}</div>
    </div>
    <div class="row mb-2">
      <div class="col-md-4">Director: </div>
      <div class="col-md-8">{{videotobeReserved.director}}</div>
    </div>
    <div class="row mb-2">
      <div class="col-md-4">Customer: </div>
      <div class="col-md-8" >
          <select class="selectpicker" #customerName > 
                <option *ngFor="let c of customers;let i=index">{{c.firstName}} {{c.firstName}}</option>
            </select>

      </div>
    </div>
    <div class="row text-left  my-5">
      <div class="col-md-4">
        <button [routerLink]="['']" class="btn btn-primary mr-2">Back</button>
        <button class="btn btn-success" (click)="reserveVideos(videotobeReserved._id)">Reserve</button>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
<!-- row2 end -->